/* CSS Document */

/* Font Families:
"Oswald"
"Gowun Batang"
*/

@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Oswald&display=swap');

/* CSS Reset */
body, header, nav, main, footer, h1, h2, img {
	border: 0;
	margin: 0;
	padding: 0;
}

/* Style rules for body */

body {
	background-color: #fff;
}

#container {
	text-align: center;
}

/* Style rules for header */

header {
	background-color: #010208;
}

/* Style rules for hero images */

#hero {
	background-image: url("../images/hubbleTelescope.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 55%;
	margin-top: 6%;
	min-height: 300px;
}

#hero2 {
	background-image: url("../images/NGC5033.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 55%;
	margin-top: 6%;
	min-height: 300px;
}

#hero3 {
	background-image: url("../images/NGC6052.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 55%;
	margin-top: 6%;
	min-height: 300px;
}

#hero4 {
	background-image: url("../images/southernCrabNebula.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 55%;
	margin-top: 6%;
	min-height: 300px;
}

h2 {
	padding: 4% 3% 0 0;
	font-family: "Gowun Batang", "Oswald", sans-serif;
	font-weight: 800;
	font-size: 2em
}

/* Style rules for navigation */

nav {
	padding: 3%;
	margin: 0 auto;
	font-size: 1.2em;
	text-align: center;
	font-family: "Oswald", sans-serif;
}


nav ul {
	list-style-type: none;
}

nav li a {
	text-decoration: none;
	color: #fff;
	float: left;
	margin: 1% 3%;
	padding: 1%;
	border-radius: 6px;
}

nav li a:hover {
	color: #000;
	background-color: #fff;
}

/* Style rules for sidebar */

.sidebar {
	height: 44%;
	width: 122px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #000;
	overflow-x: hidden;
	padding-top: 0px;
	border-radius: 3px;
}

.sidebar a {
	padding: 12px 0;
	margin: 0 -10px;
	display: block;
}

/* Style rules for main section */

main {
	clear: both;
	font-size: 1.5em;
}

main p {
	padding: 1% 6%;
	margin: 3% 0;
	font-family: "Oswald", sans-serif;
}

.main {
	margin-left: 80px;
	padding: 0 10px;
}

/* Style rules for footer */

footer {
	padding: 2%;
	margin: 0 auto;
	background-color: #000;
}

footer p {
	color: #fff;
	text-align: center;
}